<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>我的网站</title>
<style>
body
{
	background-color:green;
}
h1
{
	color:orange;
	text-align:center;
}
p
{
	font-family:"Times New Roman";
	font-size:40px;
}
</style>
<body>
</
这里是注释
/>

<script>
	alert("happy")
	document.write("<h1>这是一个标题</h1>");
	document.write("<p>这是一个段落。</p>");
</script>
</head>
    <h1 id="biaoti"> welcome
    <h1>now:{{ now }}</h1>
    <ul>
    {% for user in userlist %}
    <li>{{user.name}}</li>
    <li>1234456</li>
    {% empty %}
    <p>there is no user in the list </p>
    {% endfor %}
    </ul>
    {%block main %}{%endblock%}
</body>
</html>